barchart/node_modules
barchart/dist
barchart/.tmp
barchart/.sass-cache
barchart/app/bower_components
barchart/nbproject
circle/HTML5Application/nbproject
piechart_directive/nbproject
piechart_directive/node_modules
piechart_directive/dist
piechart_directive/.tmp